/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../sass/screen.scss */
body {
  background-color: #e6e6e6;
  font-family: Helvetica;
}

/* line 13, ../../sass/screen.scss */
#main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
}
/* line 21, ../../sass/screen.scss */
#main header h1 {
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  line-height: 900px;
  overflow: hidden;
  width: 100%;
  height: 177px;
}
/* line 33, ../../sass/screen.scss */
#main #question {
  color: #df9644;
  padding: 20px;
}
/* line 38, ../../sass/screen.scss */
#main input[type='text'] {
  background-color: #e7e7e7;
  border: 1px solid #737474;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px #628286, 0 0 4px #6abcc6;
  color: #aaa;
  margin-left: 20px;
  padding: 0;
  text-align: center;
  width: 520px;
  height: 47px;
}
/* line 51, ../../sass/screen.scss */
#main button {
  background-color: #6abcc6;
  border: 1px solid #737474;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 white;
  color: white;
  margin-left: 20px;
  padding: 0;
  width: 200px;
  height: 50px;
  text-shadow: black 0 1px 0;
}
